* {
	box-sizing: border-box;
}

html {
  font-size: @ui-size }

body {
  font-size: @font-size }

atom-workspace {
  background-color: @app-background-color;
}

atom-text-editor {
  ::-webkit-scrollbar {
    width: @scrollbar-size;
    height: @scrollbar-size;
	 	border: @scrollbar-gutter solid transparent }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background: @scrollbar-background-color-editor }

  ::-webkit-scrollbar-thumb {
		border: @scrollbar-gutter solid @syntax-background-color;
    background: @scrollbar-color-editor;
    border-radius: @scrollbar-size }}


.scrollbars-visible-always {
  ::-webkit-scrollbar {
    width: @scrollbar-size;
    height: @scrollbar-size }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background: @scrollbar-background-color }

  ::-webkit-scrollbar-thumb {
    background: @scrollbar-color;
    border-radius: @scrollbar-size }}
