
body {
  font-family: @font-family;
  font-size: 16px }

status-bar {
  height: 2rem;
  line-height: 2rem }

atom-panel-container {
  .custom-title-bar &.header {
    overflow: hidden;
    height: 0 }}

atom-panel.modal.overlay {
  padding: 0;
  height: 65vh;

  ol {
    height: 100%;
  }

  atom-text-editor[mini] {
    margin: 0;
    font-weight: 100;
    font-size: 3em;
    height: 2.5em !important;
    line-height: 2.5em !important;
    }}

.atom-dock-resize-handle {
  position: absolute;
  z-index: 1999;

  &.left, &.right {
    height: 100% }

  &.bottom {
    width: 100% }}

.atom-dock-toggle-button .atom-dock-toggle-button-inner {
    border-radius: 0px;

  &.right,
  &.left {
    height: 24px;
    width: 44px }

  &.top,
  &.bottom {
    height: 44px;
    width: 24px }}

[class*='loading-spinner'] {
  background: none;
  border-radius: 50%;
  animation: spin 1s infinite cubic-bezier(0.45, 0.8, 0.65, 0.35);
  border-style: solid;
  border-width: 0.5em !important;
  border-color: fade(@color-info, 10%) @color-info transparent transparent }
