* {
	box-sizing: border-box;
}

html {
  font-size: @ui-size }

body {
  font-size: @font-size }

atom-workspace {
  background-color: @app-background-color;
}

.scrollbars-visible-always {
  ::-webkit-scrollbar {
    width: @scrollbar-size;
    height: @scrollbar-size }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background: @scrollbar-background-color }

  ::-webkit-scrollbar-thumb {
    background: @scrollbar-color;
    border-radius: @scrollbar-size }}
