
@size-lg: 1.5;
@size-sm: 0.9;
@size-xs: 0.75;
@component-size-lg: @input-height * @size-lg;
@component-size-md: @input-height;
@component-size-sm: @input-height * @size-sm;
@component-size-xs: @input-height * @size-xs;

.btn {
  --height: @component-size-md;
  .height(@component-size-md);
  .interactions(color, @text-color);
  .interactions(background, @input-background-color);
  font-weight: 300;
  padding-top: 0;
  padding-bottom: 0;


  // Button sizes

  &[class*='-lg'], [class*='-lg'] & {
    --height: @component-size-lg;
    font-size: @size-lg * @font-size;
    font-weight: 200 }

  &[class*='-sm'], [class*='-sm'] & {
    font-weight: 400;
    --height: @component-size-sm }

  &[class*='-xs'], [class*='-xs'] & {
    font-weight: 500;
    font-size: @size-xs * @font-size;
    --height: @component-size-xs }}


// Button state colors

.btn-primary {
  .interactions(color, @text-color-highlight);
  .interactions(background, @background-color-highlight);
}
.btn-info {
  .interactions(color, @text-color-info);
  .interactions(background, @background-color-info);
}
.btn-success {
  .interactions(color, @text-color-success);
  .interactions(background, @background-color-success);
}
.btn-warning {
  .interactions(color, @text-color-warning);
  .interactions(background, @background-color-warning);
}
.btn-error {
  .interactions(color, @text-color-error);
  .interactions(background, @background-color-error);
}
