@input-size: @component-line-height * 1rem;

input,
textarea,
select,
.form-control,
atom-text-editor[mini] {
  .type(input);
  @size:          @input-size;
  @padding:       0.25 * @component-padding;
  border-radius:  @component-border-radius-round;
  color:          @text-color-highlight;
  line-height:    @size;
  min-height:     @size;
  max-height:     @size + 2 * @padding;
  height:         @size + 2 * @padding;
  padding:        @padding @padding * 3;
  box-sizing:     content-box;
  border:         none;
  box-shadow:     none;
  transition:     @transition-default }

// Checkboxes
input[type="checkbox"] {
  @size: 1.3em;
  padding:    0;
  margin-top: @size / 2 !important;
  width:      @size;
  height:     @size;
  min-height: @size }

// Range sliders
input[type=range] {
  -webkit-appearance: none;
  background:         transparent;
  box-sizing:         border-box;

  &::-webkit-slider-runnable-track {
    margin:           @component-padding;
    height:           1px;
    background:       mix(@text-color, @base-background-color, 25%);
    border-radius:    @component-border-radius;
    cursor:           pointer;
    transition:       @transition-default }

  &::-webkit-slider-thumb {
    @border:          4px;
    @size:            1.4em;
    background:       @text-color;
    margin-top:      -@size/2;
    width:            1.5 * @size;
    height:           @size;
    border-radius:    @size;
    cursor:           pointer;
    border:           @border solid @base-background-color;
    -webkit-appearance: none }

  &:focus {
    outline: none }

  &:hover::-webkit-slider-runnable-track {
    background:       mix(@text-color, @base-background-color, 40%) }
}

// Mini text editors
atom-text-editor[mini] {
  @cursor-color:     lighten(@input-background-color, 25%);
  @selection-color:  lighten(@input-background-color, 18%);
  @background:        @input-background-color;
  @background-active: @input-background-color-focus;
  @background-hover:  mix(@input-background-color, @input-background-color-focus);

  .type(input);
  font-weight:  300;
  background:   @background;
  box-shadow:   none !important;
  outline:      none;
  padding:      @component-padding / 3 @component-padding @component-padding / 3.5;
  margin:       0;
  opacity:      0.5;
  height:       @input-size;

  .cursor {
    border-width: 0 0 0 1px;
    width: 1px;
    border-color: @cursor-color; }

  .selection .region {
    border-radius: @component-border-radius;
    background-color: @selection-color !important; }

  &:not(.is-focused):hover {
    opacity: 0.75;
    background-color: @background-hover !important }

  &.is-focused {
    opacity: 1;
    background-color: @input-background-color-focus;
    .selection .region { background-color: desaturate(@background-color-info, 50%) }}}
