

atom-workspace-axis.horizontal,
atom-panel-container.header,
atom-panel-container.footer {
  transition: @backdrop-fade-out -webkit-filter }

.modal-open {
  atom-workspace-axis.horizontal,
  atom-panel-container.header,
  atom-panel-container.footer {
    transition: @backdrop-fade-in -webkit-filter;
    -webkit-filter: blur(@backdrop-blur) saturate(50%) brightness(90%) }}

atom-panel.modal,
.overlay {

  color:         @text-color;
  background:    @overlay-background-color;
  border-radius: @component-border-radius * 4;
  border-color:  mix(@overlay-background-color, @overlay-border-color, 96%) !important;
  box-shadow:    @overlay-box-shadow;
  border:        1px solid @overlay-border-color;
  padding:       @component-padding;
  width:         @overlay-width;
  margin:        0;
  transform:     translateX(-50%);

  &.from-top {
    top:         6vh;
  }

  atom-text-editor[mini] {
    .octicon(chevron-right);
    .type(overlay-input);

    &::before {
      font-size: inherit;
      vertical-align: middle;
      height: inherit;
      line-height: inherit;
      padding-right: 1rem;
      color: mix(@overlay-background-color, @text-color, 85%) }

    margin-bottom:  @component-padding;
    padding:        0 @component-padding !important;
    max-height:     none !important;
    height:         auto !important;
    border:         none;
    box-shadow:     none;
    background:     transparent }


  &.select-list {
    padding: 0 }

  .select-list ol.list-group,
  &.select-list ol.list-group {

    // border-top: 1px solid mix(@overlay-background-color, @overlay-border-color, 90%) !important;
    background-color: mix(@overlay-background-color, @overlay-border-color, 75%);
    border-width: 0;
    margin:       0 -@component-padding -@component-padding;
    max-height: 70vh;

    li {
      .type(tabs);
      color: @text-color-subtle;
      padding: @component-padding / 3 @component-padding;
      border-bottom: 1px solid @overlay-background-color;
      transition: @transition-default;

      &.two-lines {
        padding: @component-padding/2 @component-padding; }

      .status.icon {
        float: right;
        margin-left: @component-icon-padding;

        &:before {
          color: inherit !important;
          margin-right: 0 }}

      &:hover {
        color: mix(@text-color-selected, @text-color-subtle) }

      &.selected {
        color: @text-color-selected }}

    li.two-lines {
      padding: @component-padding/2 @component-padding;

      .primary-line,
      .secondary-line {}
    }

}}
