@color:        mix(@text-color-info, @text-color-highlight);
@color-subtle: mix(@color, @base-background-color);
@color-second: #e4286a;

@keyframes spninin {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
    border-right-color: @color;
  }
  25% {
    // border-right-color: @text-color-success;
  }
  50% {
    border-right-color: mix(@text-color-warning, @color-subtle);
  }
  75% {
    // border-right-color: @text-color-error;
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%);
    border-right-color: mix(@color, @color-selected);
  }
}
.loading-spinner(@size) {
  @width:        @size / 8;
  @speed:        2s;

  width:         @size;
  height:        @size;
  display:       block;
  border:        0 solid @color;
  position:      relative;
  box-sizing:    border-box;
  border-radius: 50%;

  &::after,
  &::before {
    content:        "";
    position:       absolute;
    width:          @size;
    height:         @size;
    border-width:   @width;
    border-radius:  50%;
    border-style:   solid;
    border-color:   transparent;
    animation:      spninin @speed linear 0s infinite;
    top:            50%;
    left:           50%;
    transform-origin: 0 0;
  }

  &::after {
    animation-timing-function: linear;
    animation-duration:  2.5 * @speed;
    border-right-color:  @color-subtle;
    width:               @size * 0.75;
    height:              @size * 0.75 }

  &.inline-block {
    display: inline-block;
  }
}

[class*=loading-spinner] {
  background-image: none }
.loading-spinner-large {
  .loading-spinner(96px) }

.loading-spinner-medium {
  .loading-spinner(50px);
}

.loading-spinner-small {
  .loading-spinner(32px);
}

.loading-spinner-tiny {
  .loading-spinner(20px);
}

// Much learning from:
// http://css-tricks.com/html5-progress-element/

@progress-height: 16px;
@progress-shine-gradient: -webkit-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .15));

progress {
  -webkit-appearance: none;
  height:             @progress-height;
  border-radius:      @component-border-radius;
  background-color:   @input-background-color;
  background-image:   none;
  border-radius:      2px;
  background-size:    25px @progress-height, 100% 100%, 100% 100%;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  border-radius:    @component-border-radius;
  background-color: @text-color-success;
}

progress[value] {
  -webkit-animation: none;
}
