
.settings-view {
  @padding: @component-padding * 0.5;

  .breadcrumb {
    position: absolute;
    left:     0;
    right:    0;
    z-index:  1;
    background: @color-black;
    padding: 1em;
    text-transform: uppercase;
    text-align: center }

  .package-container {
    display: flex;
    flex-flow: row wrap;
    > * {
      border-right: 1px solid @base-border-color;
      border-bottom: 1px solid @base-border-color;
      flex: 1 0 33%;
      min-width: 20em;
      display: flex;
      align-items: stretch;
      > * {
        flex: 1 0 auto;
      }
    }
  }


  .package-card {
    position: relative;
    background: fade(white, 0.2);
    padding: @padding * 1.5 @padding;
    margin: 0 1px 1px 0;
    border: none;
    min-height: 16em;

    .body {
      font-size: @font-size * 0.85 }

    .btn-group {
      float: none;
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 0.75em;
    }


    .stats {
      float: none !important;
      font-size: 0.75em;
      color: fade(@text-color, 50%);
      text-align: right }}


  .output-indicator-input {
    padding:          @padding @padding * 3;
    align-items:      center;
    justify-content:  space-around;
    flex-wrap:        wrap;

    h3 { flex: 1 0 100% }
    .badge { flex: 0 1 2.5em; text-align: center; }
    input { flex: 1 1 50% }
  }
  .section-body {
    flex-flow:  row wrap;
    margin-top: 20px;
    display:    flex }

  .control-group {
    padding:       @padding @padding @padding 3em !important;
    margin:        0 !important;
    border-bottom: 1px solid @base-border-color;
    flex:          1 1 33.3%;
    width:         auto }



}
