
.settings-view {
  @padding: @component-padding * 1.5;

  .package-card {
    background: fade(white, 0.2);
    padding: @padding * 1.5 @padding;
    margin: 0 1px 1px 0;
    border: none;
    min-height: 16em;

    .body {
      font-size: @font-size * 0.85 }

    .stats {
      float: none !important;
      font-size: 0.75em;
      color: fade(@text-color, 50%);
      text-align: right }}}
