
@tab-bar-height: 3rem;

.tab-bar {

  height:      var(--height, @tab-bar-height);
  line-height: var(--height, @tab-bar-height);

  .tab {
    flex:   0 0 auto !important;
    width:  12em !important;
    height: inherit;
    line-height: inherit;
    .interactions(@tab-background-color);
  }
}
