
.enlarged(@lg; @md) {
  [enlarged-headlines=true] & {
    font-size: extract(@lg, 1) !important;
    font-weight: extract(@lg, 2);
    & > * {
      font-size: 1 / extract(@lg, 1) }
  }
  [enlarged-headlines=false] & {
    font-size: extract(@md, 1) !important;
    font-weight: extract(@md, 2);
    & > * {
      font-size: 1 / extract(@md, 1) }
  }}

.text(heading) {
  .enlarged(5em 100, 2em 300);
  letter-spacing: -0.05em;

  & > * {
    font-size: 0.2em;
  }

  &.icon::before,
  .icon::before {
    width: auto;
    height: auto;
    font-size: inherit;
    text-align: center;
    line-height: inherit;
    vertical-align: middle;
  }
}

.text(subheading) {
  .enlarged(3em 100, 1.6em 300);
}

.text(title) {
  .enlarged(1.5em 200, 1.1em 300);
}

h1, h2,
.h1, .h2,
.section-heading,
.settings-view section .section-heading,
.settings-view .section .section-heading {
  .text(heading);
}

h3, .h3,
.settings-view .sub-section .sub-section-heading {
  .text(subheading);
}

h4, .h4, h5, .h5,
.setting-title,
.settings-view .setting-title {
  .text(title);
}

[class*='highlight-'] {
  padding: 0 0.3em;
}

.badge, [class*='badge-'] {
  padding: @component-padding / 2 @component-padding / 3 * 2 @component-padding / 2.2;
  border-radius: 2em;
}

[class*='-success'] {
  color: @text-color-success }

pre {
  font-size: 1em }
pre {
  font-size: inherit;
  line-height: 1.5em;
  padding: @component-padding;
}

.error-messages,
.info-messages {
  li:first-of-type::before {
    content: "!";
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0 @component-icon-padding 2px 0;
    font-size: 1.2em;
    font-weight: 900;
    border-radius: 50%;
    color: @text-color-highlight;
    background-color: @background-color-highlight;
  }
}
.info-messages li:first-of-type::before {
  color: @text-color-info;
  background-color: @background-color-info;
}
.error-messages li:first-of-type::before {
  color: @text-color-error;
  background-color: @background-color-error;
}

.select-list > atom-text-editor + span,
.background-message {
  font-size: 4em;
  line-height: 2em;
  text-align: center;
  color: mix(@text-color-subtle, @base-background-color, 35%);
  font-weight: 100;
  letter-spacing: -0.07em;
}

linter-decoration,
.linter-highlight.linter-error .region,
.tree-view .linter-error {
  background-image: none !important;
  background: transparent;
  box-shadow: 0 1px 0 mix(@tree-view-background-color, @text-color-error);
}
