
.tooltip {
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  transition: .15s opacity;
  &.in {
    opacity: 1;
  }
  .tooltip-inner {
    padding: @component-padding / 2 @component-padding;
  }
}
