
@duration: .3s;
@color-transition: @duration color, @duration border-color, @duration background-color;

.interactions(color, @value) {
  .apply-state-colors(color, @value) }

.interactions(background, @value) {
  .apply-state-colors(background-color, @value) }

.apply-state-colors(@property, @val) {
  @key: ~"@{property}";
  @{key}: @val;
  transition: @color-transition;
  &.selected,
  &.active {
    @{key}: lighten(@val, 3%)}
  &:hover {
    @{key}: lighten(@val, 5%)}
  &.active:hover,
  &.selected:hover {
    @{key}: lighten(@val, 8%)}
  &.disabled,
  &.disabled:hover {
    @{key}: desaturate(mix(@val, #888), 5%)}}

.interactions(@bg) {
  background-color:  @bg;
  transition: @color-transition;

  &.selected,
  &.active {
    background-color: lighten(@bg, 3%)}

  &:hover {
    background-color: lighten(@bg, 5%)}
  &.active:hover,
  &.selected:hover {
    background-color: lighten(@bg, 8%)}}

.input(focus, @bg) {

  &:focus, &.is-focused {
    background-color: lighten(@bg, 2%)}
}
