
// Main colors
// @color-foreground:  #ede9f0;
// @color-background:  #0d0a11;
// @color-info:        #3c29b3;
// @color-info:        #cc21f2;
@color-foreground:  #484848;
@color-background:  #ede9f0;
@color-selected:    #3a3742;
@color-info:        #0053cf;
@color-success:     #21f2b2;
@color-warning:     #2168f2;
@color-error:       #f22166;

@notification-background-color: white;
@notification-text-color:       @text-color-subtle;
@notification-icon-size:        2rem;
@tab-font-size:                 0.75 * @font-size;
@list-font-size:                0.9 * @font-size;
@ui-size:                       16px;
@font-weight:                   300;
@scrollbar-size:                1em;
@overlay-input-text-size:       3em;
@component-border-radius-round: 2 * @component-padding;
@transition-duration:           250ms;
@transition-curve:              ease-in-out;
@transition-default:            color @transition-duration,
                                background-color @transition-duration;
