
@import 'ui-variables-custom';

// Text
@text-color:            @color-foreground;
@text-color-subtle:     fadeout(@text-color, 40%);
@text-color-highlight:  lighten(@text-color, 20%);
@text-color-selected:   @color-selected;

@text-color-info:     @color-info;
@text-color-success:  @color-success;
@text-color-added:    @color-success;
@text-color-warning:  @color-warning;
@text-color-modified: @color-warning;
@text-color-renamed:  @color-warning;
@text-color-error:    @color-error;
@text-color-removed:  @color-error;

// Background
@background-color-info:    desaturate(darken(@color-info, 25%), 20%);
@background-color-success: desaturate(darken(@color-success, 25%), 15%);
@background-color-warning: desaturate(darken(@color-warning, 35%), 15%);
@background-color-error:   desaturate(darken(@color-error, 25%), 15%);
@background-color-highlight: lighten(@base-background-color, 4%);
@background-color-selected:  lighten(@base-background-color, 8%);

// Base
@app-background-color:  @color-background;
@base-background-color: @color-background;
@base-border-color:     darken(@color-background, 2%);

// Components
@pane-item-background-color:        @color-background;
@tool-panel-background-color:       @color-background;
@inset-panel-background-color:      lighten(@color-background, 4%);
@panel-heading-background-color:    @color-background;
@overlay-background-color:          @color-background;
@button-background-color:           @color-background;
@button-background-color-hover:     lighten(@button-background-color, 2%);
@button-background-color-selected:  @color-background;
@input-background-color:            darken(@color-background, 6%);

@panel-heading-border-color:        @base-border-color;
@pane-item-border-color:            @base-border-color;
@tool-panel-border-color:           @base-border-color;
@inset-panel-border-color:          fadeout(@base-border-color, 15%);
@overlay-border-color:              @base-border-color;
@input-border-color:                @base-border-color;
@button-border-color:               @base-border-color;

@tab-bar-background-color:          transparent;
@tab-background-color:              @color-background;
@tab-background-color-active:       @base-background-color;
@tab-bar-border-color:              @base-border-color;
@tab-border-color:                  @base-border-color;

@tree-view-background-color:        @color-background;
@tree-view-border-color:            @base-border-color;

@ui-site-color-1:                   #37bcfe;
@ui-site-color-2:                   #1feda8;
@ui-site-color-3:                   #ed4581;
@ui-site-color-4:                   #f6599b;
@ui-site-color-5:                   #80eb5a;

@scrollbar-color:                   @color-background;
@scrollbar-color-editor:            @color-background;
@scrollbar-background-color:        transparent;
@scrollbar-background-color-editor: transparent;

// Sizes
@font-size:               12px;
@input-font-size:         1em;
@disclosure-arrow-size:   1rem;
@component-padding:       1rem;
@component-icon-padding:  0.5rem;
@component-icon-size:     1rem; // needs to stay 16px to look sharpest
@component-line-height:   1.5;
@component-border-radius: 3px;
@tab-height:              3rem;

// Font
@font-family: "Helvetica Neue",
              Roboto,
              'BlinkMacSystemFont',
              'Segoe UI',
              'Lucida Grande',
              Ubuntu,
              Cantarell,
              sans-serif;
