
@import 'ui-variables-custom';

// Text
@text-color:            @color-foreground;
@text-color-subtle:     fadeout(@text-color, 40%);
@text-color-highlight:  lighten(@text-color, 20%);
@text-color-selected:   @color-selected;
@text-color-active:     @color-selected;

@text-color-info:       saturate(lighten(@color-info, 5%), 5%);
@text-color-success:    saturate(lighten(@color-success, 5%), 5%);
@text-color-added:      @color-success;

@text-color-warning:    saturate(lighten(@color-warning, 5%), 25%);
@text-color-modified:   saturate(lighten(@color-warning, 2.5%), 5%);
@text-color-renamed:    @color-warning;

@text-color-error:      desaturate(lighten(@color-error, 8%), 20%);
@text-color-removed:    @color-error;

// Backgroundno
@background-color-info:             desaturate(darken(@color-info, 15%), 5%);
@background-color-success:          desaturate(darken(@color-success, 14%), 6%);
@background-color-warning:          desaturate(darken(@color-warning, 15%), 25%);
@background-color-error:            saturate(darken(@color-error, 8%), 25%);
@background-color-highlight:        lighten(@base-background-color, 4%);
@background-color-selected:         lighten(@base-background-color, 8%);

// Base
@app-background-color:              darken(@color-background, 1.5%);
@base-background-color:             @color-background;
@base-border-color:                 darken(@color-background, 3%);

// Components
@pane-item-background-color:        @color-background;
@panel-background-color:            darken(@color-background, 5%);
@tool-panel-background-color:       darken(@color-background, 5%);
@panel-heading-background-color:    @tool-panel-background-color;
@inset-panel-background-color:      @tool-panel-background-color;
@tree-view-background-color:        @color-background;
@overlay-background-color:          @color-background;
@button-background-color-selected:  @color-background;
@button-background-color-hover:     lighten(@button-background-color, 2%);
@button-background-color:           lighten(@color-background, 5%);
@input-background-color-focus:      lighten(@panel-background-color, 10%);
@input-background-color:            lighten(@panel-background-color, 6%);

@panel-heading-border-color:        @base-border-color;
@pane-item-border-color:            @base-border-color;
@tool-panel-border-color:           @base-border-color;
@tree-view-border-color:            @tool-panel-border-color;
@inset-panel-border-color:          fadeout(@base-border-color, 15%);
@overlay-border-color:              @base-border-color;
@input-border-color:                @base-border-color;
@button-border-color:               @base-border-color;

@tab-background-color:              @panel-background-color;
@tab-bar-background-color:          @tab-background-color;
@tab-background-color-active:       lighten(@color-background, 8%);
@tab-border-color:                  darken(@tab-background-color, 2%);
@tab-bar-border-color:              transparent;

@ui-site-color-1:                   extract(@color-highlight, 1);
@ui-site-color-2:                   extract(@color-highlight, 2);
@ui-site-color-3:                   extract(@color-highlight, 3);
@ui-site-color-4:                   extract(@color-highlight, 4);
@ui-site-color-5:                   extract(@color-highlight, 5);

@scrollbar-color:                   @color-foreground;
@scrollbar-color-editor:            @panel-background-color;
@scrollbar-background-color:        @panel-background-color;
@scrollbar-background-color-editor: transparent;

// Sizes
@font-size:               1em;
@input-font-size:         1em;
@disclosure-arrow-size:   1rem;
@component-padding:       1.33rem;
@component-icon-padding:  0.5rem;
@component-icon-size:     14px;
@component-line-height:   1.7685;
@component-border-radius: 1.5px;
@tab-height:              3rem;

// Font
@font-family: "Hiragino Sans",
              "Gotham",
              "Helvetica Neue",
              Roboto,
              'BlinkMacSystemFont',
              'Segoe UI',
              'Lucida Grande',
              Ubuntu,
              Cantarell,
              sans-serif;
