
.key-binding {
  background:     linear-gradient(172deg, rgba(255, 105, 209, 0.1), rgba(120, 155, 153, 0.1));
  display:        inline-block;
  line-height:    100%;
  border-radius:  @component-border-radius;
  margin-left:    @component-icon-padding;
  font-family:    Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:      @font-size;
  padding:        @component-padding / 2 }

.badge {
  .text(highlight);
  background: @background-color-highlight }
